<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add connectionString="Password=sql_8tree;Persist Security Info=True;User ID=yury;Initial Catalog=SupportDB;Data Source=143" name="INVESTARSD2950"/>
  </connectionStrings>
</configuration>
